.App {
  text-align: center;
}

.heading {
  font-family: system-ui;
}

input {
  margin: 15px;
  width:  50%;
  font-size: 1.5em;
}

button {
  font-size: 1.3em;
  width: 5%;
  background-color: red;
  border: 2px solid red;
  color: white;
}

ul {
  display: grid;
  place-items: center;
}

li {
  list-style-type: none;
  font-size: 2em;
  padding: 5px;
  width:  90%;
  margin: 2px;
  color: white;
  background-color: lightcoral;
  font-family: monospace;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
}

.item button {
  background-color: white;
  color: black;
  width: 20px;
  padding: 0px;
  border-radius: 5px;
  margin: 3px;
}


